.headertext {
  color: #009BCD;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
}

body {
    background-color: #DBDBDB;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  color: #009BCD;
  font-family: "Courier New", Courier, monospace;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    width: 6em
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    /*background-color: #8AD9FF;
        border-radius: 8px;*/
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
display: inline;
padding: 20px;
}

#menu a {
    text-decoration: none;
    color: #009BCD;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #339BCD;
    /*background-color: #FFF;*/
}
